@{
    ViewBag.Title = "R2RML Mapping";
}

<h3>Used R2RML Mapping</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">sukl.ttl</h3>
    </div>
    <div class="panel-body">
        @{
            var filePath = Server.MapPath("~/App_Data/sukl.ttl");
            string text;
            using (var streamReader = new StreamReader(filePath))
            {
                text = streamReader.ReadToEnd();
            }
        }
        <pre>@text</pre>
    </div>
</div>