@{
    ViewBag.Title = "Sample queries";
}

<h3>Sample queries</h3>

@{
    var directory = Server.MapPath("~/App_Data/Samples");
    var di = new DirectoryInfo(directory);
}

@foreach (var file in di.GetFiles("*.txt"))
{
    <div class="panel panel-default">
        @{
            string text;
            var queryName = Path.GetFileNameWithoutExtension(file.FullName);
            using (var streamReader = new StreamReader(file.FullName))
            {
                text = streamReader.ReadToEnd();
            }
        }
        <div class="panel-heading clearfix">
            <div class="btn-group pull-right">
                <a href="@Url.Action("Query", "Main", new { query = text})" class="btn btn-primary btn-xs">Try</a>
            </div>
            <h3 class="panel-title">Query @queryName</h3>
        </div>
        <div class="panel-body">
            <pre>@text</pre>
        </div>
    </div>
}
